body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-color: #f7f9f8;
}
.main{
    width: 450px;
    height: 670px;
    background-color: #fbfdfc !important;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgb(151, 151, 151);
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 80%;
    height: 32px;
    background: #fbfdfc;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid lightgray;
    color: lightgray;
    outline: none;
    border-radius: 12px;
}
button{
    width: 84%;
    height: 50px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
.login{
    height: 460px;
    background-color: #fbfdfc !important;

    text-align: center;
}
.login label{
    color: #573b8a;
    transform: scale(.6);
}

.input{
    text-align: center;
    font-size: 16px;
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
