@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif !important;
    background: -webkit-gradient(linear, left bottom, left top, from(#eff3f6), to(#ffffff));
    background: linear-gradient(to top, #eff3f6, #ffffff);
}

.email-verification-box {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.email-verification-box h2 {
    font-size: 25px;
    color: #2897fb;
    font-weight: 500;
    margin-bottom: 20px;
}

.email-verification-box p {
    font-size: 17px;
    font-weight: 300;
    color: #353535;
}

.email-verification-box a {
    font-size: 15px;
    font-weight: 400;
    color: #353535;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.email-verification-box a:hover {
    color: #2897fb;
}

.email-verification-box a.back {
    outline: none;
    border: none;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    background: -webkit-gradient(linear, left top, left bottom, from(#2999ff), to(#03254b));
    background: linear-gradient(#2999ff, #03254b);
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 10px;
    font-weight: 500;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.email-verification-box a.back:hover, .email-verification-box a.confirm:focus {
    -webkit-box-shadow: inset 0px 0px 15px #2897fb;
    box-shadow: inset 0px 0px 15px #2897fb;
}

.email-verification-box strong {
    font-weight: 500;
}

.email-verification-box .email-body {
    padding: 20px 30px;
}

.email-verification-box .email-body .logo {
    max-width: 240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.email-verification-box .email-body .logo img {
    height: auto;
    width: 100%;
}

.email-verification-box .email-body .email-text {
    margin-bottom: 20px;
}

.email-verification-box .email-body .link {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.email-verification-box .container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.email-verification-box .box-container {
    height: auto;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    margin-left: 15px;
    margin-right: 15px;
}
